*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

.container{
    margin:0 auto;
    padding: 0 30px;
    width:960px;
}

.svg-icon{
    width:14px;
    height:22px;
}

.sm-svg-icon{
    width:20px;
    height:20px;
    background-color:#eee;
    border:1px solid #eee;
    padding:2px;
    border-radius:100%;
}

.nav-bar{
    display: flex;
}

.fa-search,.fa-bars{
    margin:10px 15px;

}

.space-text{
    margin: 8px 20px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color:black;
}

.nyt-heading{
    margin:8px auto;
}

.subscribe-btn,.log-in-btn{
    margin-left: 5px;
    margin-top: 8px;
    padding: 11px 12px 8px;
    border-radius:3px;
    background-color: #6288a5;
    border: 1px solid #326891;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;


}
.main-heading{
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 30px;
    font-style: italic;
}
.inflation-theory-section{
    /*position: relative;
    text-align: center;*/
    display: flex;
}
.the-universe-div{
    width: 30px;
    height: 30px;
}
.p-class{
    /*position: absolute;
    top: 380px;
    left: 10px;
    display: block;*/
}

